Ref:
0. 觀測站
    https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp
1. Request
    https://requests.readthedocs.io/en/master/user/quickstart/
2. BeautifulSoup
    https://www.learncodewithmike.com/2020/02/python-beautifulsoup-web-scraper.html
3. RegEx
    https://www.tutorialspoint.com/python/python_reg_expressions.htm
4. url encode in Python
    https://www.urlencoder.io/python/
5. online html prettify
    https://codebeautify.org
6. online url parser
    https://www.freeformatter.com/url-parser-query-string-splitter.html
7. 如何將字串常量轉化為變數？
    https://www.mdeditor.tw/pl/2BHq/zh-tw
8. Python globals, locals, vars and dir
    https://www.dotnetperls.com/globals-python
    https://stackoverflow.com/questions/7969949/whats-the-difference-between-globals-locals-and-vars

In [1]:
import os
import requests
import pandas as pd
import numpy as np
import datetime
from bs4 import BeautifulSoup
from urllib.parse import quote
import re
import glob
import tqdm
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer

In [2]:
#url = 'https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp'
url = 'https://e-service.cwb.gov.tw/HistoryDataQuery/DayDataController.do'

### 讀取站點資料，包含 codes, Station, Altitude, Latitude, Longitude

In [3]:
data = [#'467300', '東吉島', 43, 119.6675, 23.2570,
        #'467350', '澎湖', 10.7, 119.5631, 23.5655,
        '467410', '臺南', 40.8, 120.2048, 22.9932,
        '467420', '永康', 8.1, 120.2367, 23.0384,
        '467440', '高雄', 2.3, 120.3157, 22.5660,
        '467480', '嘉義', 26.9, 120.4329, 23.4959,
        '467530', '阿里山', 2413.4, 120.8132, 23.5082,
        '467540', '大武', 8.1, 120.9038, 22.3557,
        '467590', '恆春', 22.3, 120.7463, 22.0039,
        '467610', '成功', 33.5, 121.3734, 23.0975,
        #'467620', '蘭嶼', 324, 121.5583, 22.0370,
        '467660', '臺東', 9, 121.1546, 22.7522,
        #'467790', '墾丁雷達站', 42, 120.8080, 21.9482,
        'C0M410', '馬頭山', 245, 120.5820, 23.3244,
        'C0M520', '東後寮', 15, 120.2481, 23.3699,
        'C0M530', '奮起湖', 1385, 120.6993, 23.4939, 
        'C0M640', '中埔', 155, 120.5229, 23.4254, 
        'C0M650', '朴子', 20, 120.2390, 23.4346, 
        'C0M660', '溪口', 40, 120.4036, 23.6041, 
        'C0M670', '大林', 43, 120.4584, 23.6006, 
        'C0M680', '太保', 37, 120.3315, 23.4551,
        'C0M690', '水上', 33, 120.3889, 23.4197,
        'C0M700', '竹崎', 150, 120.5555, 23.5262,
        'C0M710', '東石', 15, 120.1539, 23.4589,
        'C0M720', '番路', 225, 120.5542, 23.4647,
        'C0M730', '嘉義市東區', 40, 120.4605, 23.4577,
        'C0M740', '六腳', 15, 120.2906, 23.4929,
        'C0M750', '布袋', 10, 120.1678, 23.3809,
        'C0M760', '民雄', 40, 120.4285, 23.5518,
        'C0M770', '嘉義梅山', 164, 120.5556, 23.5854,
        'C0M780', '鹿草', 30, 120.3084, 23.4113,
        'C0M790', '新港', 15, 120.3457, 23.5533,
        'C0M800', '茶山', 440, 120.6648, 23.2991,
        'C0M810', '里佳', 1354, 120.7166, 23.3891,
        'C0M820', '達邦', 980, 120.7495, 23.4540,
        'C0M850', '表湖', 695, 120.6417, 23.2419,
        'C0M860', '新美', 578, 120.6832, 23.3380,
        'C0O810', '曾文', 161, 120.4973, 23.2197,
        'C0O830', '北寮', 127, 120.4950, 23.0796,
        'C0O840', '王爺宮', 134, 120.4009, 23.2221,
        'C0O860', '大內', 38, 120.3608, 23.1189,
        'C0O900', '善化', 9, 120.2972, 23.1129,
        'C0O930', '玉井', 69, 120.4606, 23.1260,
        'C0O950', '安南', 4, 120.1449, 23.0767,
        'C0O960', '崎頂', 112, 120.3693, 22.9595,
        'C0O970', '虎頭埤', 71, 120.3479, 23.0214,
        'C0O980', '新市', 18, 120.2982, 23.0616,
        'C0O990', '媽廟', 18, 120.2935, 22.9918,
        'C0R100', '尾寮山', 1006, 120.6839, 22.8331,
        'C0R130', '阿禮', 1040, 120.7437, 22.7429,
        'C0R140', '瑪家', 740, 120.6866, 22.6829,
        'C0R150', '三地門', 105, 120.6399, 22.7099,
        'C0R160', '鹽埔新圍', 45, 120.5308, 22.7396, 
        'C0R170', '屏東', 26, 120.4941, 22.6603,
        'C0R190', '赤山', 32, 120.6143, 22.5923,
        'C0R220', '潮州', 23, 120.5400, 22.5344,
        'C0R240', '來義', 87, 120.6251, 22.5273,
        'C0R260', '春日', 76, 120.6283, 22.3704,
        #'C0R270', '琉球嶼', 51, 120.3622, 22.3322,
        'C0R280', '檳榔', 242, 120.8368, 22.0761,
        'C0R320', '車城', 7, 120.7161, 22.0740,
        'C0R341', '牡丹', 230, 120.7926, 22.1300,
        'C0R350', '貓鼻頭', 35, 120.7358, 21.9218,
        'C0R440', '大漢山', 1654, 120.7532, 22.4053,
        'C0R470', '高樹', 103, 120.6008, 22.8264,
        'C0R480', '長治', 57, 120.5426, 22.6931,
        'C0R490', '九如', 49, 120.4905, 22.7405,
        'C0R510', '萬丹', 31, 120.4904, 22.5878,
        'C0R520', '崁頂', 18, 120.5069, 22.5148,
        'C0R530', '林邊', 16, 120.5100, 22.4308,
        'C0R540', '佳冬', 17, 120.5524, 22.4195,
        'C0R550', '新埤', 38, 120.5829, 22.4679,
        'C0R560', '新園', 22, 120.4616, 22.5434,
        'C0R570', '麟洛', 37, 120.5272, 22.6508,
        'C0R580', '南州', 10, 120.5027, 22.4859,
        'C0R590', '里港', 72, 120.4946, 22.7792,
        'C0R600', '舊泰武', 766, 120.6649, 22.5882,
        'C0R620', '墾雷', 34, 120.8553, 21.9008,
        'C0R640', '東港', 21, 120.4407, 22.4625,
        'C0R650', '竹田', 29, 120.5434, 22.5849,
        'C0R660', '枋寮', 20, 120.5906, 22.3677,
        'C0R670', '楓港', 26, 120.6922, 22.1901,
        'C0R680', '佳樂水', 13, 120.8616, 21.9936,
        'C0R690', '墾丁', 348, 120.8103, 21.9668, 
        'C0R700', '枋山', 19, 120.6611, 22.2468,
        'C0R710', '龍磐', 117, 120.8389, 21.9317,
        'C0R720', '旭海', 214, 120.8876, 22.2054,
        'C0R730', '大坪頂', 163, 120.69355, 22.024633,
        'C0R740', '獅子', 58, 120.70525, 22.201569,
        'C0R750', '四林格山', 551, 120.7944, 22.0788,
        'C0R760', '南仁湖', 336, 120.8634, 22.0847,
        'C0R770', '保力', 93, 120.7641, 22.0711,
        'C0R780', '滿州', 72, 120.83989, 22.024403,
        'C0R790', '九棚', 111, 120.88928, 22.14195,
        'C0R800', '丹路', 131, 120.75099, 22.204481,
        'C0R810', '內獅', 25, 120.64299, 22.305064,
        'C0R820', '白鷺', 588, 120.66622, 22.454275,
        'C0R830', '高士', 383, 120.83678, 22.121825,
        'C0R840', '牡丹池山', 536, 120.84123, 22.168389,
        'C0S660', '下馬', 794, 121.0703, 23.1504,
        'C0S690', '太麻里', 522, 120.9853, 22.6090,
        'C0S700', '知本', 507, 121.0056, 22.6849,
        'C0S710', '鹿野', 382, 121.1230, 22.9177,
        #'C0S730', '綠島', 110, 121.4753, 22.6672,
        'C0S740', '池上', 289, 121.2095, 23.1196,
        'C0S750', '向陽', 2280, 120.9861, 23.2484,
        'C0S760', '紅石', 1621, 121.1262, 23.0691,
        'C0S770', '大溪山', 375, 120.9433, 22.4785,
        'C0S790', '金崙', 236, 120.9669, 22.5381,
        'C0S810', '東河', 65, 121.3040, 22.9727,
        'C0S830', '長濱', 288, 121.4120, 23.2868,
        'C0S840', '南田', 22, 120.8892, 22.2797,
        'C0S890', '關山', 238, 121.1750, 23.0395,
        #'C0S900', '蘭嶼高中', 27, 121.5121, 22.0491,
        #'C0S910', '蘭嶼燈塔', 212, 121.4951, 22.0830,
        'C0S920', '金峰嘉蘭', 133, 120.9609, 22.5988,
        'C0S930', '延平', 248, 121.0841, 22.9026,
        'C0S940', '石寧山', 150, 121.4066, 23.2238,
        'C0S950', '七塊厝', 415, 121.2299, 22.9545,
        'C0S960', '香蘭', 32, 120.9934, 22.5876,
        'C0S970', '加津林', 19, 120.9269, 22.4162,
        'C0S980', '勝林山', 903, 120.8938, 22.4304,
        'C0S990', '山豬窟', 409, 120.8574, 22.3186,
        'C0SA00', '歷坵', 466, 120.8919, 22.5210,
        'C0SA10', '檳榔四格山', 411, 121.1093, 22.8100,
        'C0SA20', '金崙山', 857, 120.9597, 22.5674,
        'C0SA30', '都歷', 93, 121.3236, 23.0203,
        'C0SA40', '瑞和', 200, 121.1567, 22.9744,
        'C0SA60', '知本（水試所）', 11, 121.0828, 22.7024,
        'C0SA80', '土坂', 136, 120.8875, 22.4529,
        'C0SA90', '達仁林場', 497, 120.8240, 22.2643,
        'C0V210', '復興', 734, 120.8061, 23.2224,
        'C0V250', '甲仙', 298, 120.5918, 23.0801,
        'C0V260', '月眉', 126, 120.5399, 22.9710,
        'C0V310', '美濃', 46, 120.5192, 22.8987,
        'C0V350', '溪埔', 36, 120.4468, 22.7386,
        'C0V360', '內門', 94, 120.4668, 22.9755,
        'C0V370', '古亭坑', 74, 120.4019, 22.8932, 
        'C0V400', '阿公店', 56, 120.3555, 22.8042, 
        'C0V440', '鳳山', 27, 120.3561, 22.6467, 
        'C0V450', '鳳森', 51, 120.3926, 22.5451, 
        'C0V490', '新興', 20, 120.2988, 22.6274, 
        'C0V500', '旗津', 6, 120.2859, 22.5886, 
        'C0V530', '阿蓮', 34, 120.3275, 22.8832, 
        'C0V610', '梓官', 22, 120.2672, 22.7606, 
        'C0V620', '永安', 18, 120.2369, 22.8232, 
        'C0V630', '茄萣', 19, 120.1826, 22.9066, 
        'C0V640', '湖內', 35, 120.2445, 22.8871, 
        'C0V650', '彌陀', 28, 120.2464, 22.7838, 
        'C0V660', '岡山', 25, 120.2950, 22.7971, 
        'C0V670', '楠梓', 20, 120.2860, 22.7198, 
        'C0V680', '仁武', 40, 120.3477, 22.7011, 
        'C0V690', '鼓山', 30, 120.2756, 22.6233, 
        'C0V700', '三民', 24, 120.3112, 22.6450, 
        'C0V710', '苓雅', 34, 120.3307, 22.6227, 
        'C0V720', '林園', 15, 120.3945, 22.5077, 
        'C0V730', '大寮', 33, 120.3957, 22.6056, 
        'C0V740', '旗山', 60, 120.4836, 22.8886, 
        'C0V750', '路竹', 50, 120.2594, 22.8550, 
        'C0V760', '橋頭', 30, 120.3058, 22.7578, 
        'C0V770', '大社', 26, 120.3466, 22.7303, 
        'C0V790', '萬山', 410, 120.6881, 22.9059, 
        'C0V800', '六龜', 256, 120.6336, 22.9979, 
        'C0V810', '左營', 32, 120.2849, 22.6749, 
        'C0V820', '小林', 441, 120.6333, 23.1484, 
        'C0X050', '東河', 25, 120.3856, 23.2966, 
        'C0X060', '下營', 19, 120.2563, 23.2270, 
        'C0X080', '佳里', 2, 120.1451, 23.1730, 
        'C0X100', '臺南市北區', 10, 120.1942, 23.0104, 
        'C0X110', '臺南市南區', 20, 120.1884, 22.9612, 
        'C0X120', '麻豆', 28, 120.2486, 23.1833, 
        'C0X130', '官田', 27, 120.3154, 23.1932, 
        'C0X140', '西港', 17, 120.2031, 23.1256, 
        'C0X150', '安定', 18, 120.2278, 23.1026, 
        'C0X160', '仁德', 26, 120.2577, 22.9683, 
        'C0X170', '關廟', 50, 120.3278, 22.9630, 
        'C0X180', '山上', 62, 120.3633, 23.0757, 
        'C0X190', '安平', 10, 120.1522, 22.9932, 
        'C0X200', '左鎮', 61, 120.4085, 23.0568, 
        'C0X210', '白河', 38, 120.4144, 23.3475, 
        'C0X220', '學甲', 26, 120.1822, 23.2304, 
        'C0X230', '鹽水', 29, 120.2476, 23.2726, 
        'C0X240', '關子嶺', 394, 120.5080, 23.3312, 
        'C0X250', '新營', 33, 120.3167, 23.3107, 
        'C0X260', '後壁', 39, 120.3623, 23.3664, 
        'C0X280', '將軍', 22, 120.1358, 23.2150, 
        'C0X290', '北門', 10, 120.1255, 23.2678, 
        'C0X300', '鹿寮', 70, 120.4773, 23.3860, 
        'C0X310', '七股', 9, 120.0863, 23.1473, 
        #'C0X320', '柳營', 30, 120.3753, 23.2533 
       ]
codes = data[0::5]
stations = data[1::5]
altitude = data[2::5]
longitude = data[3::5]
latitude = data[4::5]
diction = {"codes": codes, 
           "Stations": stations, 
           "Altitude": altitude, 
           "Latitude": latitude,
           "Longitude": longitude
        }
sta_dict = pd.DataFrame(diction)
sta_dict.to_csv('WeatherStation.csv', index=False)
print(sta_dict)

      codes Stations  Altitude  Latitude  Longitude
0    467410       臺南      40.8   22.9932   120.2048
1    467420       永康       8.1   23.0384   120.2367
2    467440       高雄       2.3   22.5660   120.3157
3    467480       嘉義      26.9   23.4959   120.4329
4    467530      阿里山    2413.4   23.5082   120.8132
..      ...      ...       ...       ...        ...
176  C0X260       後壁      39.0   23.3664   120.3623
177  C0X280       將軍      22.0   23.2150   120.1358
178  C0X290       北門      10.0   23.2678   120.1255
179  C0X300       鹿寮      70.0   23.3860   120.4773
180  C0X310       七股       9.0   23.1473   120.0863

[181 rows x 5 columns]

### 爬取資料並將所有資料轉成 float 型態
### 將 WD 以 sin,cos 方式轉換，並將連續遺失6個值以內的特徵以差分方式補值

In [4]:
# 將所有資料轉成 float 型態
def f(x):
    try:
        return np.float(x)
    except:
        return np.nan

In [5]:
# 將 WD 以 sin,cos 方式轉換
def convert_to_sin(x):
    return np.sin((x/180)*np.pi)
def convert_to_cos(x):
    return np.cos((x/180)*np.pi)

In [6]:
def codis(station, stname, date):
    params = {'command':'viewMain', 
              'station':station, 
              'stname':quote(stname), 
              'datepicker':date}
    resp = requests.get(url, params=params)
    resp.encoding = 'utf-8'
    soup = BeautifulSoup(resp.text, 'html.parser')
    MyTable = soup.find('table', id="MyTable")
    feat_len = len(MyTable.find('tr', class_="second_tr").select('th'))
    MyTable_values = MyTable.find_all('td')
    MyTable_len = int(len(MyTable.find_all('td'))/feat_len)
    lst_rows = [MyTable_values[(i*feat_len):((i+1)*feat_len)]for i in range(MyTable_len)]

    assert len(lst_rows) == MyTable_len

    for k in lst_rows:
        assert len(k) == feat_len

    StnPres = []
    Temperature = []
    RH = []
    WS = []
    WD = []
    Precp = []
    SunShine = []
    GloblRad = []

    for l in range(MyTable_len):
        StnPres.append(lst_rows[l][1].get_text(strip=True))
        Temperature.append(lst_rows[l][3].get_text(strip=True))
        RH.append(lst_rows[l][5].get_text(strip=True))
        WS.append(lst_rows[l][6].get_text(strip=True))
        WD.append(lst_rows[l][7].get_text(strip=True))
        Precp.append(lst_rows[l][10].get_text(strip=True))
        SunShine.append(lst_rows[l][12].get_text(strip=True))
        GloblRad.append(lst_rows[l][13].get_text(strip=True))

    df = pd.DataFrame(data={
                            'StnPres':StnPres, 
                            'Temperature':Temperature, 
                            'RH':RH, 
                            'WS':WS, 
                            'WD':WD, 
                            'Precp':Precp, 
                            'SunShine':SunShine, 
                            'GloblRad':GloblRad
                            }, 
                     dtype='float',
                     )
    
    # 'SunShine'欄位的 '...' 代表晚上所以轉成 0.0 
    for i in range(MyTable_len):
        if df.loc[i, 'SunShine'] == '...':
            df.loc[i, 'SunShine'] = 0.0
    
    # 把資料都轉成float，無法轉成float的就轉成NaN後面補值
    for j in df.columns:
        df[j] = df[j].apply(f)
        
    # WD是 0~360 的數值，直接補值會有錯誤的影響，於是轉成sin跟cos
    df['WD_sin'] = df['WD'].apply(convert_to_sin)
    df['WD_cos'] = df['WD'].apply(convert_to_cos)
    
    # 進行差分補值
    df = df.reindex(columns=['StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp', 'SunShine', 'GloblRad'])
    for m in df.columns:
        mask = df[m].isna()
        d = df.index.to_series()[mask].groupby((~mask).cumsum()[mask]).agg(['first', 'size'])
        d = d.rename(columns=dict(size='contig_null', first='Start_Date')).reset_index(drop=True)
        time_list = d[d.contig_null>6].Start_Date.to_list()
        conti_num = d[d.contig_null>6].contig_null.to_list()
        y = df[df.index.to_series().isin(time_list)].index
        
        df[m] = df[m].interpolate()
        
        indx_mask = []
        if len(conti_num)>0:
            for idx, k in enumerate(conti_num):
                indx_mask+=list(range(y[idx], y[idx]+k))
            df.loc[indx_mask, m] = np.nan
    
    return df

In [7]:
df = codis(codes[0], stations[0], '2017-01-01')
df

,StnPres,Temperature,RH,WS,WD_sin,WD_cos,Precp,SunShine,GloblRad
0,1018.5,18.6,88.0,1.5,3.420201e-01,9.396926e-01,0.0,0.0,0.00
1,1018.1,18.4,89.0,1.4,5.000000e-01,8.660254e-01,0.0,0.0,0.00
2,1017.6,18.2,90.0,1.1,5.000000e-01,8.660254e-01,0.0,0.0,0.00
3,1017.4,18.2,90.0,1.3,-5.000000e-01,8.660254e-01,0.0,0.0,0.00
4,1017.6,17.9,90.0,0.1,0.000000e+00,1.000000e+00,0.0,0.0,0.00
5,1018.1,18.1,90.0,0.8,9.848078e-01,1.736482e-01,0.0,0.0,0.00
6,1018.6,18.2,90.0,1.0,9.848078e-01,-1.736482e-01,0.0,0.0,0.00
7,1019.4,19.1,92.0,0.0,0.000000e+00,1.000000e+00,0.0,0.5,0.23
8,1019.5,20.8,85.0,0.9,9.396926e-01,-3.420201e-01,0.0,1.0,0.75
9,1019.4,22.7,77.0,0.2,0.000000e+00,1.000000e+00,0.0,1.0,1.46
10,1018.6,23.6,72.0,1.1,-6.427876e-01,7.660444e-01,0.0,1.0,1.81
11,1017.5,24.7,66.0,1.4,-1.000000e+00,-1.836970e-16,0.0,1.0,2.17
12,1016.8,24.8,66.0,2.7,-6.427876e-01,7.660444e-01,0.0,1.0,2.38
13,1016.0,25.0,68.0,2.9,-6.427876e-01,7.660444e-01,0.0,1.0,1.91
14,1015.5,25.2,67.0,2.0,-6.427876e-01,7.660444e-01,0.0,1.0,1.49
15,1015.5,24.2,67.0,2.7,-5.000000e-01,8.660254e-01,0.0,1.0,0.96
16,1015.7,22.8,72.0,2.9,-2.449294e-16,1.000000e+00,0.0,0.4,0.33
17,1016.2,21.9,78.0,1.3,-2.449294e-16,1.000000e+00,0.0,0.0,0.00
18,1016.9,21.2,80.0,2.8,1.736482e-01,9.848078e-01,0.0,0.0,0.00
19,1017.5,20.3,81.0,2.8,3.420201e-01,9.396926e-01,0.0,0.0,0.00
20,1017.8,19.6,84.0,3.1,1.736482e-01,9.848078e-01,0.0,0.0,0.00
21,1017.8,19.3,86.0,2.4,5.000000e-01,8.660254e-01,0.0,0.0,0.00
22,1017.7,19.2,88.0,2.9,1.736482e-01,9.848078e-01,0.0,0.0,0.00
23,1017.6,19.1,89.0,3.0,3.420201e-01,9.396926e-01,0.0,0.0,0.00

### 將 Altitude, Latitude, Longitude 做 scaling，並與各站點以時間合併

In [18]:
# 將 Altitude, Latitude, Longitude 做 scaling
time_path = sorted(glob.glob('CODiS/*.csv'))
station_info_scale = MinMaxScaler(feature_range=(0,1))
for i in ['altitude_s', 'latitude_s', 'longitude_s']:
    sta_dict[i] = np.nan
sta_dict.iloc[:, 5:] = station_info_scale.fit_transform(sta_dict.iloc[:, 2:5].values)

In [19]:
sta_dict

,codes,Stations,Altitude,Latitude,Longitude,altitude_s,latitude_s,longitude_s
0,467410,臺南,40.8,22.9932,120.2048,0.016090,0.641343,0.089387
1,467420,永康,8.1,23.0384,120.2367,0.002530,0.667880,0.113449
2,467440,高雄,2.3,22.5660,120.3157,0.000124,0.390536,0.173041
3,467480,嘉義,26.9,23.4959,120.4329,0.010326,0.936476,0.261447
4,467530,阿里山,2413.4,23.5082,120.8132,1.000000,0.943698,0.548314
...,...,...,...,...,...,...,...,...
176,C0X260,後壁,39.0,23.3664,120.3623,0.015344,0.860447,0.208192
177,C0X280,將軍,22.0,23.2150,120.1358,0.008294,0.771561,0.037339
178,C0X290,北門,10.0,23.2678,120.1255,0.003318,0.802560,0.029569
179,C0X300,鹿寮,70.0,23.3860,120.4773,0.028199,0.871954,0.294939
180,C0X310,七股,9.0,23.1473,120.0863,0.002903,0.731815,0.000000

In [9]:
# scall後的資料與各站點以時間合併
def StaCrawler(s_date, e_date):
    
    _24H = ['H0'+str(i) for i in range(1, 10)]+['H'+str(i) for i in range(10, 25)]
    sta_info = sta_dict.copy().iloc[:, 1:]
    #print(_24H)

    while s_date != e_date:
        
        for v in _24H:
            exec(f"{v} = pd.DataFrame(index=range(len(codes)), columns=['StnPres','Temperature','RH','WS', 'WD_sin', 'WD_cos', 'Precp','SunShine','GloblRad'])")
            #print(H01)
        
        #for i in range(3):
        for i in range(len(codes)):
            df = codis(codes[i], stations[i], s_date)
            #print(stations[i])

            for u in range(24):
                if u < 9:
                    locals()[f'H0{u+1}'].iloc[i] = df.iloc[u]
                else:
                    locals()[f'H{u+1}'].iloc[i] = df.iloc[u]
        
        for q in range(24):
            if q < 9:
                time_df = pd.concat((sta_info, locals()[f'H0{q+1}']), axis=1)
                time_df.to_csv(f'./CODiS/{s_date}_{_24H[q]}.csv', index=False)
            elif 9 <= q < 23:
                time_df = pd.concat((sta_info, locals()[f'H{q+1}']), axis=1)
                time_df.to_csv(f'./CODiS/{s_date}_{_24H[q]}.csv', index=False)
            else:
                s_date = str((pd.to_datetime(s_date)+pd.Timedelta(1, unit='d')).date())
                time_df = pd.concat((sta_info, locals()[f'H{q+1}']), axis=1)
                time_df.to_csv(f'./CODiS/{s_date}_H00.csv', index=False)

In [10]:
StaCrawler(s_date='2017-01-01', e_date='2017-02-01')

### 將所有站點合併，並對所有資料用 MinMax 的方式做 scaling

In [11]:
# merge all station by time

_24H = ['H0'+str(i) for i in range(1, 10)]+['H'+str(i) for i in range(10, 25)]
s_date = '2017-01-01'
e_date = '2017-02-01'

df_tmp = pd.DataFrame()
while s_date != e_date:
    for i in range(24):
        if i < 9:
            csv_name = f'./CODiS/{s_date}_{_24H[i]}.csv'
        elif 9 <= i < 23:
            csv_name = f'./CODiS/{s_date}_{_24H[i]}.csv'
        else:
            s_date = str((pd.to_datetime(s_date)+pd.Timedelta(1, unit='d')).date())
            csv_name = f'./CODiS/{s_date}_H00.csv'
            
        df = pd.read_csv(csv_name, usecols=['StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp', 'SunShine', 'GloblRad'])
        df_tmp = pd.concat((df_tmp, df))

In [12]:
df_tmp.shape

(134664, 9)

In [13]:
df_tmp

,StnPres,Temperature,RH,WS,WD_sin,WD_cos,Precp,SunShine,GloblRad
0,1018.5,18.6,88.0,1.5,0.342020,0.939693,0.0,0.0,0.0
1,1019.7,17.8,90.0,0.9,-0.342020,0.939693,0.0,0.0,0.0
2,1020.9,20.6,80.0,1.1,0.984808,0.173648,0.0,0.0,0.0
3,1017.6,15.7,93.0,0.0,0.000000,1.000000,0.0,0.0,0.0
4,769.0,8.1,69.0,1.7,-0.173648,-0.984808,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
176,1015.6,17.3,84.0,2.9,-0.104528,0.994522,0.0,0.0,NaN
177,1017.4,17.4,84.0,4.8,0.390731,0.920505,0.0,0.0,NaN
178,1018.5,17.7,85.0,5.5,0.529919,0.848048,0.0,0.0,NaN
179,1011.4,17.2,88.0,0.9,-0.052336,-0.998630,0.0,0.0,NaN
180,1019.3,17.9,83.0,6.2,0.104528,0.994522,0.0,0.0,NaN

In [14]:
scaler = MinMaxScaler(feature_range=(0,1))

# 0:7 ['StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp']
df_tmp.iloc[:, 0:7] = scaler.fit_transform(df_tmp.iloc[:, 0:7])

In [15]:
df_tmp

,StnPres,Temperature,RH,WS,WD_sin,WD_cos,Precp,SunShine,GloblRad
0,0.990654,0.620690,0.855422,0.109489,0.671010,0.969846,0.0,0.0,0.0
1,0.991822,0.595611,0.879518,0.065693,0.328990,0.969846,0.0,0.0,0.0
2,0.992991,0.683386,0.759036,0.080292,0.992404,0.586824,0.0,0.0,0.0
3,0.989778,0.529781,0.915663,0.000000,0.500000,1.000000,0.0,0.0,0.0
4,0.747761,0.291536,0.626506,0.124088,0.413176,0.007596,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
176,0.987831,0.579937,0.807229,0.211679,0.447736,0.997261,0.0,0.0,NaN
177,0.989583,0.583072,0.807229,0.350365,0.695366,0.960252,0.0,0.0,NaN
178,0.990654,0.592476,0.819277,0.401460,0.764960,0.924024,0.0,0.0,NaN
179,0.983742,0.576803,0.855422,0.065693,0.473832,0.000685,0.0,0.0,NaN
180,0.991433,0.598746,0.795181,0.452555,0.552264,0.997261,0.0,0.0,NaN

In [16]:
scaler.data_max_

array([1.0281e+03, 3.0700e+01, 1.0000e+02, 1.3700e+01, 1.0000e+00,
       1.0000e+00, 1.0000e+01])

In [17]:
scaler.data_min_

array([ 0.9, -1.2, 17. ,  0. , -1. , -1. ,  0. ])

In [18]:
df = pd.DataFrame(scaler.data_max_)
df.to_csv(f'scale_max.csv', index = False)
df = pd.DataFrame(scaler.data_min_)
df.to_csv(f'scale_min.csv', index = False)

### 各個時間的資料以 KNN 的方式補值

In [19]:
time_path = sorted(glob.glob('CODiS/*.csv'))

for j in tqdm.tqdm_notebook(time_path):
    
    print(j, end='\r', flush=True)
    df = pd.read_csv(j)
    scaler = MinMaxScaler(feature_range=(0,1))
        
    # 7:14 ['StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp']
    df.iloc[:, 7:14] = scaler.fit_transform(df.iloc[:,7:14])
    imputer = KNNImputer(n_neighbors=3)
      
    # 4:14 ['altitude_s', 'latitude_s', 'longitude_s', 'StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp']
    df.iloc[:, 4:14] = pd.DataFrame(imputer.fit_transform(df.iloc[:, 4:14]), columns=df.columns[4:14])
    df.to_csv(f'fill_{j}', index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(IntProgress(value=0, max=744), HTML(value='')))

CODiS/2017-02-01_H00.csv

In [22]:
time_path = sorted(glob.glob('fill_CODiS/fill_Station_bytime_2017/*.csv'))

for j in tqdm.tqdm_notebook(time_path):
    
    print(j, end='\r', flush=True)
    df = pd.read_csv(j)[:9]
    scaler = MinMaxScaler(feature_range=(0,1))
        
    # 7:14 ['StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp']
    df.iloc[:, 14:16] = scaler.fit_transform(df.iloc[:,14:16])
    imputer = KNNImputer(n_neighbors=3)
    
    df.iloc[:, 14:16] = scaler.inverse_transform(df.iloc[:, 14:16])
      
    # 4:14 ['altitude_s', 'latitude_s', 'longitude_s', 'StnPres', 'Temperature', 'RH', 'WS', 'WD_sin', 'WD_cos', 'Precp']
    df.iloc[:, 4:16] = pd.DataFrame(imputer.fit_transform(df.iloc[:, 4:16]), columns=df.columns[4:16])
    df.to_csv(f'fill_CODiS/fill2_Station_bytime_2017/{j[-18:]}', index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(IntProgress(value=0, max=8760), HTML(value='')))

fill_CODiS/fill_Station_bytime_2017/2017-12-31_H23.csv

In [ ]:
'''
keys = [467410, 467420, 467440, 467480, 467530, 467540, 467550, 467590, 467610, 467660]
values = ['臺南', '永康', '高雄', '嘉義', '阿里山', '大武', '玉山', '恆春', '成功', '台東']
latitude = ['40.8, 120.2048, 22.9932', '8.1, 120.2367, 23.0384', '2.3, 120.3157, 22.5660', '26.9, 120.4329, 23.4959', '2413.4, 120.8132, 23.5082', '8.1, 120.9038, 22.3557', '3844.8, 120.9595, 23.4876', '22.3, 120.7463, 22.0039', '33.5, 121.3734, 23.0975', '9.0, 121.1545, 22.7522']

dict = {"keys": keys, 
        "values": values, 
        "latitude": latitude
        }
sta_dict = pd.DataFrame(dict)
#print(sta_dict)

station = [i for i in sta_dict.keys()]

# encode the string as UTF-8
stname = [quote(i) for i in sta_dict.values()]

# date from 2005/01/01 till the day before today
datepicker = [str(i.date()) for i in pd.date_range(start='2005-01-01', end=(pd.to_datetime('today')-pd.Timedelta(1, unit='d')), freq='D')]

# params of get method
params = {'command':'viewMain', 
          'station':station, 
          'stname':stname, 
          'datepicker':datepicker}
#print(params)

# get of requests + BeatuifulSoup 
resp = requests.get(url_1, params=params)
resp.encoding = 'utf-8'
soup = BeautifulSoup(resp.text, 'html.parser')
#print(soup.prettify())

# find the table with a certain id 
MyTable = soup.find('table', id="MyTable")
#print(MyTable)

# number of the features in the table
feat_len = len(MyTable.find('tr', class_="second_tr").select('th'))
#print(feat_len)

# access the values in the table
MyTable_values = MyTable.find_all('td')
#print(MyTable_values[0:feat_len])

# number of rows
MyTable_len = int(len(MyTable.find_all('td'))/feat_len)
#print(MyTable_len)

# slice each row out
lst_rows = [MyTable_values[(i*feat_len):((i+1)*feat_len)]for i in range(MyTable_len)]

assert len(lst_rows) == MyTable_len

for i in lst_rows:
    assert len(i) == feat_len
    
# aimed feat's
#ObsTime = []
Temperature = []
SunShine = []
GloblRad = []
#Visb = []
#Cloud = []

# slice the text and put into each feat's list
for i in range(MyTable_len):
    #ObsTime.append(lst_rows[i][0].get_text(strip=True)) 
    Temperature.append(lst_rows[i][3].get_text(strip=True)) # to remove the '\xa0'
    SunShine.append(lst_rows[i][-5].get_text(strip=True))
    GloblRad.append(lst_rows[i][-4].get_text(strip=True))
    #Visb.append(lst_rows[i][-3].get_text(strip=True))
    #Cloud.append(lst_rows[i][-1].get_text(strip=True))

df = pd.DataFrame(data={
                       #'ObsTime[hr]':ObsTime,
                       'Temperature':Temperature, # [degC]
                       'SunShine':SunShine, # [hr]
                       'GloblRad':GloblRad, # [MJ/m2]
                       #'Visb':Visb,
                       #'Cloud':Cloud
                       }, 
                 dtype='float',
                 )
#df.info()

for i in range(MyTable_len):
    # filling '...' with 0.0
    if df.loc[i, 'SunShine'] == '...':
        df.loc[i, 'SunShine'] = 0.0
    
df['SunShine'] = df['SunShine'].astype('float')

df.index = pd.date_range(datepicker, periods=24, freq='H')
df
'''